{% extends 'blog/base.html' %}
{% block content %}
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px; text-align:center;">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h5 class="u-text u-text-1 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1500" style="will-change: transform, opacity; animation-duration: 1500ms;"> A Bit About Me</h5>
            <h5 class="u-text u-text-palette-2-base u-text-2 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1200" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1500ms;"> Who Am I?</h5>
            <img src="https://i.postimg.cc/zDStJPgN/IMG-20220314-120339-780.jpg" alt="Avatar" style="border-radius: 50%; width:220px; height:220px;">
            <p class="u-text u-text-3 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1500ms;"> 
                <b><h2>Ansh Meshram</h2></b><br>
                E-mail: ansh.meshram0405@gmail.com<br>
                Phone No. : 9977993540<br>
                Address: Bhopal<br>
            </p>

        </div>
        {% comment %} <section class="u-align-center u-clearfix u-grey-90 u-section-1" id="carousel_0852">
            
              
              <div class="u-border-5 u-border-palette-2-base u-image u-image-circle u-image-1 animated customAnimationIn-played" alt="" data-image-width="714" data-image-height="714" data-animation-name="customAnimationIn" data-animation-duration="1500" style="will-change: transform, opacity; animation-duration: 1500ms;"></div>
                
              </div>
            
          </section> {% endcomment %}
    </div>
{% endblock content %}
{% comment %} 
<body class="u-body u-xl-mode" data-lang="en" data-new-gr-c-s-check-loaded="14.1138.0" data-gr-ext-installed="">
    
    
        
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.online" target="_blank">
        <span>Best Website Builder</span>
      </a>. 
    </section>
  
<style>.u-disable-duration * {transition-duration: 0s !important;}</style></body> {% endcomment %}